#header {
	height: 100px;
	width: 4080px;
	margin-right: auto;
	margin-left: auto;
}
#gallery {
	height: 360px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
#gallery {
	height: 360px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
#gambar1 {
	height: 200px;
	width: 617px;
	margin-right: auto;
	margin-left: auto;
}
#gambar1 {
	height: 200px;
	width: 617px;
	margin-right: auto;
	margin-left: auto;
}
#gambar1 {
	height: 200px;
	width: 617px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/7.jpg);
}
